<!DOCTYPE html>
<html lang="de">
	<head>
		<link rel="stylesheet" type="text/css" href="/vendor/select2.css" />
		<link rel="stylesheet" type="text/css" href="/vendor/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/vendor/leaflet.css" />
		<link rel="stylesheet" type="text/css" href="/vendor/MarkerCluster.Default.css" />
		<link rel="stylesheet" type="text/css" href="/vendor/slick.grid.css" />
		<link rel="stylesheet" type="text/css" href="/vendor/map.css" />
		<link rel="stylesheet" type="text/css" href="/vendor/recline.min.css" />

		<meta charset="utf-8" />
		<meta name="generator" content="ckan 2.7.6" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Open Data Zürich - Stadt Zürich</title>

		<link rel="shortcut icon" href="/favicon.ico" />
		<!--
		<script src="//www.stadt-zuerich.ch/etc/clientlibs/stzh/analytics/294297d554c0/2d41160f70cf/launch-ffb4482fd3b5.min.js"></script>
        -->
	</head>

	<body data-site-root="<%= baseUrl %>" data-locale-root="<%= baseUrl %>">
		<div
			data-module="recline_view"
			data-module-site_url="<%= baseUrl %>"
			data-module-resource="&#34;{\&#34;resource_id\&#34;: \&#34;ebe5e78c-a99f-4607-bedc-051f33d75318\&#34;, \&#34;package_id\&#34;: \&#34;83ca481f-275c-417b-9598-3902c481e400\&#34;, \&#34;datastore_contains_all_records_of_source_file\&#34;: \&#34;True\&#34;, \&#34;datastore_active\&#34;: true, \&#34;id\&#34;: \&#34;ebe5e78c-a99f-4607-bedc-051f33d75318\&#34;, \&#34;size\&#34;: 191209, \&#34;original_url\&#34;: \&#34;https://data.stadt-zuerich.ch/dataset/ted_taz_verkehrszaehlungen_werte_fussgaenger_velo/download/2021_verkehrszaehlungen_werte_fussgaenger_velo.csv\&#34;, \&#34;cache_last_updated\&#34;: null, \&#34;set_url_type\&#34;: \&#34;False\&#34;, \&#34;state\&#34;: \&#34;active\&#34;, \&#34;ignore_hash\&#34;: \&#34;False\&#34;, \&#34;hash\&#34;: \&#34;430b75699dcef37971e568b32c6ee47f\&#34;, \&#34;description\&#34;: \&#34;\&#34;, \&#34;format\&#34;: \&#34;CSV\&#34;, \&#34;mimetype_inner\&#34;: null, \&#34;url_type\&#34;: \&#34;upload\&#34;, \&#34;mimetype\&#34;: \&#34;text/csv\&#34;, \&#34;cache_url\&#34;: null, \&#34;name\&#34;: \&#34;2021_verkehrszaehlungen_werte_fussgaenger_velo.csv\&#34;, \&#34;created\&#34;: \&#34;2021-01-02T09:01:00.381502\&#34;, \&#34;url\&#34;: \&#34;https://data.stadt-zuerich.ch/dataset/ted_taz_verkehrszaehlungen_werte_fussgaenger_velo/download/2021_verkehrszaehlungen_werte_fussgaenger_velo.csv\&#34;, \&#34;ckan_url\&#34;: \&#34;https://data.stadt-zuerich.ch\&#34;, \&#34;zh_hash\&#34;: \&#34;430b75699dcef37971e568b32c6ee47f\&#34;, \&#34;task_created\&#34;: \&#34;2021-11-09 09:01:59.495019\&#34;, \&#34;last_modified\&#34;: \&#34;2021-11-10T05:01:49.389456\&#34;, \&#34;position\&#34;: 0, \&#34;revision_id\&#34;: \&#34;6e846208-f946-4df1-952a-0bc84f707856\&#34;, \&#34;resource_type\&#34;: \&#34;file\&#34;}&#34;"
			;
			data-module-resource-view="&#34;{\&#34;description\&#34;: \&#34;\&#34;, \&#34;title\&#34;: \&#34;Data Explorer\&#34;, \&#34;resource_id\&#34;: \&#34;ebe5e78c-a99f-4607-bedc-051f33d75318\&#34;, \&#34;view_type\&#34;: \&#34;recline_view\&#34;, \&#34;id\&#34;: \&#34;24e012c1-2f06-46ba-81b8-e09aae3ae53f\&#34;, \&#34;package_id\&#34;: \&#34;83ca481f-275c-417b-9598-3902c481e400\&#34;}&#34;"
			;
			data-module-map_config="{}"
			;
			data-module-dataproxy-url="//jsonpdataproxy.appspot.com"
		>
			<h4 class="loading-dialog">
				<div class="loading-spinner"></div>
				<div class="left">Lädt...</div>
			</h4>
		</div>

		<!--
		<script type="text/javascript">
			_satellite.pageBottom();
		</script>
        -->
		<script>
			document.getElementsByTagName('html')[0].className += ' js';
		</script>
		<script type="text/javascript" src="/vendor/jquery.min.js"></script>
		<script type="text/javascript" src="/vendor/select2.min.js"></script>
		<script type="text/javascript" src="/vendor/main.min.js"></script>
		<script type="text/javascript" src="/vendor/bootstrap.js"></script>
		<script type="text/javascript" src="/vendor/recline.js"></script>
	</body>
</html>
